@model ICollection<Business.ViewModels.BookModel>
@{
    ViewBag.Title = "Online library";
}
<div ng-controller="MainController">
    <h1>Books</h1>
    
    <section id="bookList">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Book Name</th>
                        <th>Book Author</th>
                    </tr>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td><a href="#" ng-click="showEditBookSection()">@book.Name</a></td>
                            <td>@book.Author</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="showAddBookSection()">Create Book</button>
    </section>

    <section id="addBook" ng-if="action==='add'">
        <h3>Create a Book</h3>
        <div class="row">
            <div class="col-md-4">
                <form name="createBookForm" ng-submit="createBook()" novalidate>
                    <div class="form-group">
                        <label for="bookName">Book Name</label>
                        <input type="text" class="form-control" ng-model="book.name" id="bookName" placeholder="Book" required>
                    </div>
                    <div class="form-group">
                        <label for="bookAuthor">Book Author</label>
                        <input type="text" class="form-control" ng-model="book.author" id="bookAuthor" placeholder="Author">
                    </div>
                    <div class="form-group pull-right">
                        <input type="reset" value="Cancel" class="btn btn-danger" ng-click="cancel()" />
                        <button class="btn btn-success" ng-disabled="!createBookForm.$valid">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="editBook" ng-if="action==='edit'">
        <div class="row">
            <div class="col-md-4">
                <h3>Edit Book</h3>
                <form name="editBookForm" ng-submit="editBook()">
                    <div class="form-group">
                        <label for="bookName">Book Name</label>
                        <input type="text" class="form-control" ng-model="book.name" id="bookName" placeholder="Book" required>
                    </div>
                    <div class="form-group">
                        <label for="bookAuthor">Book Author</label>
                        <input type="text" class="form-control" ng-model="book.author" id="bookAuthor" placeholder="Author">
                    </div>
                    <div class="form-group pull-right">
                        <input type="reset" value="Cancel" class="btn btn-danger" ng-click="cancel()"/>
                        <button class="btn btn-success" ng-disabled="!editBookForm.$valid">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
