@{
    ViewBag.Title = "Online library";
}
<div ng-controller="MainController">
    <h1>Books</h1>
    
    <section id="bookList">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" ng-init="redrawBooksTable()">
                    <tr>
                        <th>Id</th>
                        <th>Book Name</th>
                        <th>Book Author</th>
                        <th>&nbsp;</th>
                    </tr>

                    <tr ng-if ="books.length == 0">
                        <td colspan="4" class="text-center">No books is the database yet. Please, <a href="#" ng-click="showAddBookSection()">add</a> one!</td>
                    </tr>

                    <tr ng-repeat="book in books">
                        <td>{{book.Id}}</td>
                        <td><a href="#" ng-click="showEditBookSection(book)">{{book.Name}}</a></td>
                        <td>{{book.Author.Name}}</td>
                        <td><a href="#" class="text-danger" ng-click="removeBook(book)">Remove</a></td>
                    </tr>

                </table>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="showAddBookSection()">Create Book</button>
    </section>

    @Html.Partial("_AddBook")
    @Html.Partial("_EditBook")

</div>